body {
	display: block;
	align-content: center; 
	justify-content: center;
}

#menu {
	width: 30%;
}

#container {
	width: 70%;
}

#menu div {
	font-size: 3em;
	line-height: 2;
}

#menu div:hover {
	cursor: pointer;
}

button {
	margin: 5px;
}

.hide {
	display: none;
}

.show {
	display: block;
}